@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./prism.css";

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  .font-heading {
    font-family: var(--font-paygeon), var(--font-inter), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
